[core]
    excludesfile = ~/.gitignore

    # Safe OSX rebasing: http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false

[push]
	default = simple

[pull]
	ff = only

[user]
	name = Nick Barrett

[remote "origin"]
	prune = true

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
