# OSX fail
.DS_Store

# Python fail
*.pyc

# Vagrant stuff
.vagrant/
.bundle/

# Coveralls
.coverage

# Own stuff
.proj
.venv

.kubetools/
kubetools-compose.yml  # old

# pyenv
.python-version

pyinfra-debug.log

