[core]
    excludesfile = ~/.gitignore

    # Safe OSX rebasing: http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false

[push]
	default = simple
[user]
	name = Nick Barrett
	email = '(none)'
