[core]
    excludesfile = ~/.gitignore

    # Safe OSX rebasing: http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false
	editor = nano

[push]
	default = simple

[pull]
	ff = only
	rebase = true

[user]
	name = Nick Mills-Barrett

[remote "origin"]
	prune = true

[commit]
	gpgsign = true

[tag]
	forceSignAnnotated = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[diff]
	submodule = log
[submodule]
	fetchJobs = 10
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[rebase]
	autostash = true
